@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body {
    overflow-y: auto;
    position: relative;
    padding-bottom: 80px; /* Espaçamento no final da página */
}

.bg {
    background-color: rgba(0, 0, 0, 0.87);
}

h1 {
    margin-left: 10px;
}
p {
    margin-right: 10px;
}
.listas {
   border-radius: 10px;
   margin-left: 10px;
   margin-right: 10px;
}
#listSection {
    height: calc(100vh - 200px); /* Ajuste o valor conforme necessário */
    overflow-y: auto;
    scrollbar-width: none; /* Para Firefox */
    -ms-overflow-style: none;  /* Para Internet Explorer e Edge */
}
#listSection::-webkit-scrollbar {
    display: none; /* Para Chrome, Safari e Opera */
}
.criar {
    width: 40%;
    position: fixed;
    right: 20px;
    bottom: 80px;
    z-index: 9999;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.btn-group .btn {
    width: 50%;
}
.card {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
}
.modal-content {
    background-color: black;
}

